html,body{ height:100%; font-family:Arial, Helvetica, sans-serif; color:#000; font-size:13px;}
a:hover{text-decoration:none;}
.newsection{position:relative;}
.newsection .footer{position:absolute; left:0px; bottom:0px;}
.newsection{display:none;}
.newsection.activenews{display:block;}


.new_heading { height: 41px; line-height: normal; overflow: hidden;}

.newsection  { position:relative;}

.newsection .afterlogin{ position:absolute; width:100%; bottom:0px; left:0px;}
.wrapper,.allnews, .newsection { height:100%;}

.footer_section{ position:relative;}
.likebox {
    bottom: 4px;
    float: none;
    left: 18px;
    margin: 0;
    z-index: 2;
}
.likebox ul{ margin:0px;}
.source{ margin-top:45px;}
.news_description{ padding-top:8px;}
.footer_section hr{ position:absolute; width:100%; float:none; margin:0px; left:0px;}
.source{ margin-top:0px; font-size:12px; color:#000;}
.newsection .afterlogin{ height:40px;}
.source{ top:13px;}
.ftr_logo {
    top: -20px;
}
.new_des_content{ margin-top:5px;}
.shortby{ margin-top:5px;}

.new_heading a{ color:#000; text-decoration:none; font-weight:bold; font-size:16px;}
.shortby{ font-size:11px; color:#919191;}

.shortby strong{ color:#000;}
.speakthis{ color:#888888; text-decoration:none !important;}

.speakthis img{ height:26px;}
.popupimg{ text-align:center; width:100%;}
.okbox {
  background: #55cccc none repeat scroll 0 0;
  border: medium none;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  margin: 30px 0 0 0;
  padding: 5px;
  text-align: center;
  width: 100%;
}

.popupbox h1 {
  color: #000;
  font-weight: normal;
  text-align: center;
  font-size: 16px;
  margin-top: 10px;
}
.success{ color:#55cccc !important; font-weight:bold !important;   font-size: 20px !important;}
.popupbox  h1 {
  TEXT-ALIGN: CENTER;
  
}
.popupbox {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #eee;
  margin: 0 auto;
  width: 230px;
  padding: 30px 0px 0px 0px;
  position:fixed;
  left:50%;
  margin-left:-115px;
  top:50px;
  z-index:999999;
}
.popupbox.errorbox button.okbox {
   background: #ff0000 !important;
}
.popupbox.errorbox h1{color:#FF0000;}
.bodyoverlay{position:fixed; height:100%; width:100%; background:#fff; opacity:0.8; z-index:99999; top:0px; left:0px; display:block;}
.preloader {
   background: url(images/ajax-loading.gif) no-repeat scroll center;
  margin: 0 auto;
  width: 40px;
  position:fixed;
  left:50%;
  margin-left:-20px;
  top:150px;
  height:40px;
  z-index:999999;
  text-align:center;
  color:#0C5DC6;
  border-radius:50%;
}
.preloaderimg {
   background: url(images/splash.png) no-repeat scroll center;
  margin: 0 auto;
  width: 100%;
  position:fixed;
  left:0px;
  top:0px;
  height:100%;
  z-index:999999;
  text-align:center;
}
header.opened{opacity:1; background:#FFFFFF;}
 .menufooter{margin-top:40px;}
 a.bookmarks{text-decoration:none !important;}
 a.bookedmarked{color:#F00020 !important;}
.msgnotification{color:#000000; font-size:12px;} 
.nightmode .msgnotification{color:#ffffff; font-size:12px;}
 